/*All pages*/
/*https://coolors.co/c9ddff-ecb0e1-de6c83-c1aac0-2cf6b3*/

/*sets font for all pages*/
body {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #39393A;
  font-size: 2em;

}

header ul {
  margin-top: 0;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;

}

footer {
  background-color: #DE6C83;
  clear: both;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 10px;


}

li {
  display: inline;
  padding: 0px;

}
/*Index page*/



/*portfolio page*/
.port_hero {
  display: inline;
  height: 200px;
  width: 33%
}

#port {
  font-size: 2em;
  width: 400px;
  padding: 0;
}
#preview img {
  width: 30%;
  height: 200px;
}
/*about page*/
#selfie {
  border-radius: 40%;
  float:left;
}

/*code_journal page */
